---
import "../styles/global.css";

const pageTitle = "Home Page";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/astro-tutorial/favicon.svg" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/astro-tutorial/">Home</a>
    <a href="/astro-tutorial/about/">About</a>
    <a href="/astro-tutorial/blog/">Blog</a>

    <h1>{pageTitle}</h1>
  </body>
</html>
